body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    color: #333;
    background-image: url("ai-generated-model-human-heart-created-using-plastic-glass_441362-3043.jpg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .profile-container {
    width: 90%; 
  max-width: 1200px; 
  margin: 20px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 0%;
  }
  
  .profile-header {
    background: #2c3236;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 0%;
  }
  
  .profile-info {
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-bottom: 0%;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #1d2328;
  }
  .profile-info{
    margin-bottom: 0%;
    margin-top: 0%;
  }
  
  .profile-info button {
    margin-top: 10px;
    margin-bottom: 0%;
  }
  h2{
    margin-left: 40%;
    color: #fdfdfd;
    margin-top: 0%;

  }
  
  .heart-rate-metrics ul {
    margin-top: 0%;
    list-style: none;
    padding: 0;
    margin-left: 20%;
    color: rgb(216, 174, 137);
    border-radius: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  
  .heart-rate-metrics li {
    margin: 20px 0;
    font-size: 100%;
    margin-left: 25%;
    border-radius: 0%;
    margin-bottom: 0%;
  }
  
  .activity-log {
    padding: 20px;
    border-radius: 0%;
  }
  .activity-log li{
    margin-left: 40%;
    color: rgb(216, 174, 137);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-bottom: 0%;
  }
  
  .modal.hidden {
    display: none;
  }
  
  .modal-content {
    background: #2b999b;
    margin-bottom: 0%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content form label {
    margin-bottom: 0px;
  }
  
  .modal-content form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn {
    background: #0078d7;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn.secondary {
    background: #ddd;
    color: #333;
  }
  section{
    background-image: url("heart-shape-design_752237-13682.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
  
  